<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/season">계절</a>
            <a href="/loop">반복/조건</a>
            <a href="/calculate">짝수/홀수 판정</a>
        </nav>
    </header>
<main>
    <div>
            <h2>condingOn 방문을 환영합니다.</h2>
            <img src="https://codingon.co.kr/_next/image?url=%2Fimage%2Fmain%2Fowl-stroy.webp&w=1200&q=75"alt="오울이">
    </div>


</main>
</body>
</html>