<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>서버에서 데이터 받기</title>
</head>
<body>
<header>
    <nav>
        <a href="/">home</a>
        <a href="/season">계절</a>
        <a href="/loop">반복/조건</a>
        <a href="/calculate">짝수/홀수 판정</a>
    </nav>
</header>
<section>
    <h2>반복 조건문</h2>
    <!--목록 태그-->
    <ul>
        {%for i in range(1,11)%}
        <li>{{' *' * i}}</li>
        {%endfor%}
        <br>
        {%for alpha in item%}
        <li>{{loop.index}}: {{alpha}}</li>
        {%endfor%}
        <br>
        {%for alpha in item%}
            {%if loop.index < 3%}
                <li>{{loop.index}}: {{alpha}}</li>
            {%endif%}
        {%endfor%}
    </ul>

</section>
</body>
</html>